.selected-options {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
}
.selected-option {
  background-color: #007bff;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.remove-option {
  margin-left: 4px;
  cursor: pointer;
}
.remove-option:hover {
  color: #ff0000;
}
.custom-table tr > td:nth-child(2) {
  font-weight: bold;
}
.permission-table tr > td:nth-child(1) {
  font-weight: bold;
}
.mdb-datatable table tr {
  border-bottom: 2px solid #a7abb3 !important;
}
.custom-table tr td > a {
  color: white;
  text-decoration: none;
  background-color: #2d3748;
  padding: 3px 10px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}
.permission-table tr td > a {
  color: white;
  text-decoration: none;
  background-color: #2d3748;
  padding: 3px 10px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}
.custom-table tr td > a:hover {
  background-color: #647188;
}
.permission-table tr td > a:hover {
  background-color: #647188;
}
.delete-button {
  background-color: rgb(248, 4, 4);
  border: none; 
  border-radius: 5px; 
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer; 
  text-align: center;
  color: white;
}
.delete-button:hover {
  background-color: darkred;
}
.delete-column{
  text-align: center;
}
table.mdb-dataTable thead th, table thead.mdb-dataTable-head th{
  text-align: center;
}
.table > tbody > tr > * {
  text-align: center;
}
.form-check-label{
  color: black;
}
.status-switch{
  padding: 0rem 1rem;
}