.dropdown-menu.show {
  padding: 0;
  font-size: 17px;
  border: #000000 1px solid;
  border-radius: 10px;
}
.dropdown-item {
  color: black !important;
  background-color: #f9f9f9 !important;
  font-weight: 700 !important;
}
.dropdown-menu.show a:first-child {
  color: #000000;
  text-decoration: none;
}
