.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  .popup {
    background-color: #ebebeb;
    border-radius: 8px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .popup p {
    margin-bottom: 20px;
    color: #2e3647;
    font-size: 20px;
    font-weight: bold;
  }
  .btncontainer {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .btncontainer button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .btncontainer button:hover {
    background-color: #2e3647;
    color: #ebebeb;
  }
  