:root {
    --color-primary: #2e3647;
    --color-dark: #04152e;
    --color-danger: #e20f0f;
    --color-success: #13c044;
    --color-success-light: #84e0be;
    --color-warning: #ffbb55;
    --color-info-dark: #f37022;
    --color-info-light: #f8f8f8;
  }
  .filter-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 90;
  }
  .filterHeader {
    background-color: var(--color-primary);
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
  .filter-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: none;
  }
  .filter-container.active .filter {
    display: block;
  }
  .filter-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
  }
  .filter-list li:last-child {
    border-bottom: none;
  }
  .filter-list li:hover {
    background-color: var(--color-primary);
    color: white;
  }
  .selectInput{
    width: 10rem ;
  }