.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background-color: #ffffff;
  box-shadow: 20px 15px 30px 10px lightgray;
  border-radius: 20px;
  padding: 30px;
  max-width: 600px;
  width: 100%;
  height: 500px;
}

.box h3 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 30px;
}

.buttonContainer button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.buttonContainer button:hover {
  background-color: #1b66c9;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 100px;
}

.linkContainer {
  margin-top: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.linkContainer a {
  color: #007bff;
  text-decoration: none;
  align-items: center;
}

.linkContainer a:hover {
  text-decoration: underline;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.inputContainer:focus-within label {
  transform: translate(-10px, -6px) scale(0.7);
  color: #0a53e4;
  background-color: white;
  width: 55px;
}

.inputContainer .filled {
  transform: translate(-10px, -6px) scale(0.7);
  color: gray;
  background-color: white;
  width: 55px;
}

.inputContainer label {
  position: absolute;
  pointer-events: none;
  transform: translate(-10px, 23px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: gray;
  font-size: 20px;
  line-height: 1;
  left: 30px;
}

.inputContainer input {
  width: 100%;
  height: 64px;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 24px 16px 20px 16px;
  font-size: 26px;
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  margin-bottom: 50px;
}

.inputContainer input:focus {
  border: 3px solid #0a53e4;
}
