.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 20px;
}
.login-container {
  background-color: #fff;
  box-shadow: 20px 15px 30px 10px lightgray;
  border-radius: 20px;
  padding: 30px;
  max-width: 600px;
  width: 100%;
  position:fixed;
}
.login h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}
.login form {
  display: flex;
  flex-direction: column;
}
.login .mb-3 input,
.login .mb-3 input {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 8px 12px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  width: 540px;
  box-sizing: border-box;
}
.login .password-input-container {
  position: relative;
}
.login .forgot {
  color: #007bff;
  margin-bottom: 10px;
  font-size: 14px;
}
.login button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}
.login button:hover {
  background-color: #0056b3;
}
