.indexedStep {
  height: 20px;
  font-size: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.RSPBprogressBar {
  width: 400px;
  height: 15px !important;
}
.RSPBprogressBar .RSPBprogression {
  background-color: #2e3647 !important;
}
