.day {
  display: flex;
  background-color: #2d3748;
  color: white;
  margin-bottom: 2px;
  margin-top: 2px;
  font-size: 20px;
}
.day-header {
  margin: 5px;
  padding: 5px;
}
.add-day {
  border: 0px;
  padding: 0px;
  background-color: black;
  color: white;
  margin: 10px 0 10px 40px;
  font-size: medium;
  border-radius: 7px;
  width: 100px;
  height: 30px;
}
.unit-create {
  display: flex;
  margin-right: 60px;
}
.unit-create input {
  border-radius: 7px;
  margin-right: 2px;
  padding: 0px;
}
.unit-header {
  width: 100%;
}
.unit-body {
  display: flex;
}
.add-unit-button {
  border: 0px;
  padding: 0px;
  background-color: black;
  color: white;
  margin: 10px 0 10px 40px;
  font-size: medium;
  border-radius: 7px;
  width: 100px;
  height: 30px;
}
.add-unit {
  margin-bottom: 10px;
}
.iconDelete {
  display: inline-block; 
  cursor: pointer; 
  color: #ff0000;
  margin: 5px;
  font-size: 24px;
}
.unitLine {
  margin-left: 20px;
  display: flex;
}
.unitLineRight {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  width: 100%; 
  margin-left: 10px;
}
.unitLineRight1 {
  align-self: flex-start; 
  align-items: center;
}
.unitLineRight1 span {
  margin-right: 5px;
  align-items: start;
  height: 50px;
  font-size: large;
  text-align: center;
}
.unitLineRight2 {
  margin-right: 70px;
  width: 50px;
  height: 50px;
}
.AddNewContentbtn {
  margin: 10px 0px 10px 170px;
  border: 1px solid;
  border-radius: 50%;
  background-color: black;
  width: 25px;
  color: white;
}
.createUnitbtn {
  background-color: black;
  color: white;
  font-size: medium;
  border-radius: 7px;
  margin-left: 10px;
}
.contentfafoder {
  background-color: #d3d3d3;
  border-radius: 7px;
}
.contentfafoder_title {
  margin-bottom: 10px;
}
.modal-header {
  padding: 2px;
}
