.custom-height {
  height: calc(100vh - 12rem);
}
.change-password-form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group {
  margin: 10px;
}
label {
  display: block;
  font-weight: bold;
  font-size: 20px;
}
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #2b2929;
  border-radius: 5px;
  outline: none;
}
.label.input_password,
.password.input_password {
  text-align: left !important;
}
.button-password {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.label-password {
  color: black;
}
