#job {
  font-size: 18px;
}

hr {
  background-color: #007bff;
  margin-top: 0;
  margin-bottom: 20px;
}

.card .img-fluid {
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
}

.card-body {
  padding: 1px;
}

.card-body.p-4 {
  background: linear-gradient(to right bottom, #83f5fd, #1a1e9b);
}

.card-body a {
  text-decoration: none;
  color: #007bff;
}

.card-body i {
  font-size: 24px;
}

.text-mutedd {
  --bs-text-opacity: 1;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.custom-height {
  height: 100%;
}

.col-md-8 {
  color: #ffffff;
}

.cac {
  width: 7%;
  height: 100%;
  place-items: center;
  align-items: center;
  font-size: 24px;
}

.btn-floating .fab {
  width: var(--mdb-btn-icon-width);
  line-height: var(--mdb-btn-icon-line-height);
}

.fab {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

.belac {
  align-items: center;
  justify-content: center;
}

.custom-height {
  height: auto;
}