@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

:root {
  --color-primary: #2e3647;
  --color-dark: #2e3647;
  --color-danger: #e20f0f;
  --color-success: #13c044;
  --color-success-light: #84e0be;
  --color-warning: #ffbb55;
  --color-info-dark: #cb631e;
  --color-info-light: #f8f8f8;
  --color-gradient: linear-gradient(135deg,
      rgba(255, 92, 51, 1) 0%,
      rgba(179, 74, 55, 1) 33%,
      rgba(166, 36, 31, 1) 66%,
      rgba(48, 18, 16, 1) 100%);
  --color-background: #faf9f7;
  --box-border-radius: 2rem;
  --box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.4);
}

.footer-container {
  background-color: var(--color-primary);
  color: #fff;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  text-align: center;
  font-size: 17px;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header-container {
  background-color: var(--color-primary);
  color: var(--color-background);
  padding: 1rem;
  position: fixed;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  z-index: 2;
  top: 0;
  left: 0;
}

.app-container {
  display: flex;
  width: 100%;
  padding-left: 300px;
  margin-top: calc(100vh - 5.5rem);
  margin-bottom: calc(100vh - 5.5rem);
}

.sidebar {
  margin-top: 5rem;
  margin-bottom: 3.5rem;
  width: 300px;
  min-height: calc(100vh - 10rem);
  position: fixed;
  top: 0;
  bottom: 0;
  left: -300px;
  background-color: #eef2f7;
  color: #6485b2;
  transition: left 0.3s;
  z-index: 1;
  overflow-y: auto;
}

.toggle-button.open {
  left: 0px;
}

.sidebar.open {
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: 5rem;
  margin-bottom: 3.5rem;
  justify-content: center;
}

.toggle-button {
  color: var(--color-info-dark);
  background-color: #00ff4800;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 90px;
  left: 10px;
  z-index: 2;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar .navlist li,
.sidebar .sub-menu li {
  padding: 25px 30px;
  text-decoration: none;
  color: #6485b2;
  transition: color 0.3s, border-bottom 0.3s;
}

.sidebar .navlist li:hover,
.sidebar .sub-menu li:hover {
  color: var(--color-info-dark);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navlist li {
  cursor: pointer;
}

.navlist a {
  text-decoration: none;
}

.navlist {
  padding-top: 1rem;
}

.main-body {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 9rem);
  margin-top: 5rem;
}

.main-content {
  flex-grow: 1;
  overflow: auto;
  overflow-x: hidden;
  width: 100vw;
  transition: all 0.3s ease;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 1rem;
  height: calc(100vh - 8.5rem);
}

.sidebar-open .main-content {
  margin-left: 300px;
  width: calc(100vw - 300px);
  padding-left: 1rem;
}

.news {
  display: grid;
  border-radius: 20px;
  width: 100%;
  margin: 0;
  row-gap: 1rem;
  padding: 1rem;
  margin-top: 0.7rem;
}

.big-box {
  grid-column: span 2;
  grid-row: span 2;
}

.big-box,
.project-card {
  grid-column: span 2;
  background: var(--color-background);
  border: 1px solid var(--color-dark);
  height: fit-content;
  border-radius: var(--box-border-radius);
  box-shadow: var(--box-shadow);
  padding: 1.5rem;
  transition: all 300ms ease;
}

.small-box {
  grid-column: span 1;
  grid-row: span 1;
}

main {
  margin-left: 1rem;
  margin-top: 2rem;
}

.news .col-lg-12,
.project-card {
  background: var(--color-background);
  border: 1px solid var(--color-dark);
  height: fit-content;
  border-radius: var(--box-border-radius);
  box-shadow: var(--box-shadow);
  padding: 1.5rem;
  transition: all 300ms ease;
}

.news .col-lg-8,
.project-card {
  background: var(--color-background);
  border: 1px solid var(--color-dark);
  height: max-content;
  min-height: 214px;
  border-radius: var(--box-border-radius);
  box-shadow: var(--box-shadow);
  padding: 1.5rem;
  transition: all 300ms ease;
}

.news .col-lg-6 {
  align-items: center;
}

.news .activity-calender {
  display: grid;
  justify-content: center;
}

.small-box {
  grid-column: span 1;
  grid-row: span 1;
}

.news .col-12 .row {
  margin-left: 5px;
  margin-top: 1.5rem;
  justify-content: center;
}

.news .col-lg-12:hover {
  box-shadow: none;
}

.news .row button {
  float: right;
  margin-right: 5px;
  width: 6.5rem;
  height: 3rem;
  text-align: center;
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow);
  border-radius: var(--box-border-radius);
  border: 1px solid transparent;
  color: var(--color-background);
  transition: all 0.3s;
  font-size: 0.8rem;
}

.news .row button:hover {
  background-color: var(--color-background);
  border: 1px solid var(--color-dark);
  color: var(--color-primary);
}

.news hr {
  background: linear-gradient(135deg,
      rgba(255, 92, 51, 1) 0%,
      rgba(179, 74, 55, 1) 33%,
      rgba(166, 36, 31, 1) 66%,
      rgba(48, 18, 16, 1) 100%);
  border-radius: 2px;
  height: 4px;
  max-width: 35%;
  opacity: 100% !important;
  border-top: 0 !important;
}

.calendar {
  justify-content: center;
}

.btn-primary {
  float: right;
}

.logoutbtn {
  background-color: #33333300;
  color: #f8f8f8;
}

.row:nth-child(1) {
  padding-top: 20px;
  padding-bottom: 0.4px;
  padding-top: 0.4px;
}

.row .custom-mdb-table th {
  background-color: var(--color-primary);
  color: var(--color-background);
}

.row .custom-mdb-table {
  padding-top: 1rem;
}

.custom-mdb-table tr {
  border-radius: 12rem;
  border: 1px solid #ddd;
  background-color: var(--color-background);
}

.custom-table thead th {
  background-color: var(--color-primary);
  color: white;
}

.permission-mdb-table tr {
  border-radius: 12rem;
  border: 1px solid #ddd;
  background-color: var(--color-background);
}

.permission-table thead th {
  background-color: #2e3647;
  color: white;
}

table.mdb-dataTable thead .sorting:before,
table.mdb-dataTable thead .sorting:after,
table.mdb-dataTable thead .sorting_asc:before,
table.mdb-dataTable thead .sorting_asc:after,
table.mdb-dataTable thead .sorting_desc:before,
table.mdb-dataTable thead .sorting_desc:after,
table.mdb-dataTable thead .sorting_asc_disabled:before,
table.mdb-dataTable thead .sorting_asc_disabled:after,
table.mdb-dataTable thead .sorting_desc_disabled:before,
table.mdb-dataTable thead .sorting_desc_disabled:after,
table thead.mdb-dataTable-head .sorting:before,
table thead.mdb-dataTable-head .sorting:after,
table thead.mdb-dataTable-head .sorting_asc:before,
table thead.mdb-dataTable-head .sorting_asc:after,
table thead.mdb-dataTable-head .sorting_desc:before,
table thead.mdb-dataTable-head .sorting_desc:after,
table thead.mdb-dataTable-head .sorting_asc_disabled:before,
table thead.mdb-dataTable-head .sorting_asc_disabled:after,
table thead.mdb-dataTable-head .sorting_desc_disabled:before,
table thead.mdb-dataTable-head .sorting_desc_disabled:after {
  position: absolute;
  bottom: 0.6rem !important;
  display: block;
}

table thead.mdb-dataTable-head .sorting:before,
table.mdb-dataTable thead .sorting:before,
table.mdb-dataTable thead .sorting_asc:before,
table thead.mdb-dataTable-head .sorting_asc:before,
table.mdb-dataTable thead .sorting:after,
table.mdb-dataTable thead .sorting_asc:after,
table.mdb-dataTable thead .sorting_desc:after,
table.mdb-dataTable thead .sorting_asc_disabled:after,
table.mdb-dataTable thead .sorting_desc_disabled:after,
table thead.mdb-dataTable-head .sorting:after,
table thead.mdb-dataTable-head .sorting_asc:after,
table thead.mdb-dataTable-head .sorting_desc:after,
table thead.mdb-dataTable-head .sorting_asc_disabled:after,
table thead.mdb-dataTable-head .sorting_desc_disabled:after {
  left: -0.1rem !important;
  margin-left: 0.2rem;
}

table thead.mdb-dataTable-head .sorting:before,
table.mdb-dataTable thead .sorting:before,
table.mdb-dataTable thead .sorting_asc:before,
table thead.mdb-dataTable-head .sorting_asc:before {
  left: 0 !important;
}

.manager .table thead,
.manager .table tbody {
  font-weight: 350;
  font-size: 1rem;
}

.manager .table {
  border-radius: var(--box-border-radius);
  border: 1px black;
  width: 100%;
}

.table>tbody>tr:nth-of-type(odd)>* {
  background-color: var(--color-info-light);
  color: black !important;
}

.table>tbody>tr:nth-of-type(odd):hover>* {
  background-color: rgb(192, 192, 192) !important;
}

/* .table > tbody > tr:nth-of-type(odd) > td > button {
  color: black !important;
}

} */
.pagination {
  display: -webkit-inline-box !important;
}