.mainContainer {
  width: 85%;
  margin: 0 auto;
}

.mainContainer__header,
.mainContainer__subheader {
  text-align: center;
}

.headerContainer {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.form {
  width: 1600px;
  border: 1px solid black;
  border-radius: 10px;
}

.formSyllabus {
  width: 100%;
  box-shadow: 0 0 15px lightgray;
  border-radius: 0 0 10px 10px;
  padding: 25px 15px;
  border-top: 1px solid black;
}

.gridTemplate {
  display: grid;
  grid-template-columns: 80% 20%;
}

.timeAllocation {
  box-shadow: 0 0 15px lightgray;
  border-radius: 10px;
  margin-left: 20px;
  height: 600px;
}

.formGroup {
  text-align: center;
}

.formGroup__element {
  margin: 10px auto;
}

.formGroup__label {
  display: block;
  width: 300px;
  margin: 0 auto;
  text-align: left;
}

.formGroupInput {
  width: 30px;
  padding-left: 50px;
  margin: 10px;
  border-radius: 3px;
  border: 1px solid #003487;
}

.examPoint {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.formTextArea {
  resize: none;
  display: block;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #003487;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons__button {
  padding: 10px;
  border-radius: 3px;
  margin: 5px 12px;
}

.buttons__button__back:hover,
.buttons__button__next:hover {
  cursor: pointer;
  box-shadow: 3px 2px 3px rgba(175, 175, 175, 0.4);
  background-color: gray;
}

.buttons__button__next {
  background-color: #2d3748;
  color: #fff;
  border-radius: 10px;
  width: 100px;
  margin-top: 20px;
  font-weight: bold;
}

.buttons__button__cancel {
  color: red;
  text-decoration: underline;
  border: none;
  background-color: white;
}

.buttons__button__cancel:hover {
  color: blue;
}

.buttons__button__back {
  background-color: #2d3748;
  color: #fff;
  border-radius: 10px;
  width: 150px;
  margin-top: 20px;
  font-weight: bold;
}

.select__item {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 0px lightgray;
  border: 1px solid #003487;
}

.select__item:hover {
  cursor: pointer;
}

.table {
  width: 500px;
  margin: 15px auto;
}

.summary {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #2b7cff;
  padding: 10px;
  border-radius: 3px;
}

.summary__heading {
  margin-top: 5px;
  text-align: center;
}

.summary__itemTitle {
  font-weight: bold;
}

.stepper {
  padding: 3vh 0 !important;
}

.stepper__step {
  border: 1px solid #2b7cff !important;
  cursor: default !important;
}

.stepper__step+div>span {
  color: #0f6bff !important;
}

.RFSConnectorContainer {
  left: calc((-50% + 2em) - 8px) !important;
  right: calc((50% + 2em) - 8px) !important;
}

.error {
  margin-top: 0;
  color: red;
  font-size: 90%;
}

.formInput {
  border: none;
}

.attendeeNumber {
  display: flex;
  margin: 15px 0;
}

.attendeeNumberInput {
  border-radius: 10px;
  border: 1px solid black;
  width: 100px;
  height: 40px;
}

.syllabusName {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.syllabusNameInput {
  border-radius: 10px;
  border: 1px solid black;
  width: 250px;
  height: 40px;
}

.pieChartContainer {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 10fr 10fr;
}

.pieChart {
  position: relative;
  width: 98%;
  height: 400px;
  border-radius: 10px;
  border: 1px solid lightgray;
  box-shadow: 10px 10px 5px lightgray;
}

.pieChart svg {
  position: absolute;
  right: 25%;
  top: 5%;
}

.assignItems {
  margin: 30px 100px 0px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
}

.assessmentScheme {
  width: 100%;
  height: 400px;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 10px 10px 5px lightgray;
}

.assessmentScheme .formGroupInput {
  width: 70px;
  height: 37px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  font-style: italic;
}

.assessContent {
  width: 220px;
  display: flex;
  justify-content: space-between;
}

.assessContent span {
  margin: auto 0;
}

.customize_table th {
  background-color: #2e3647 !important;
  color: white !important;
}

.add_new {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .group_btns {
    display: flex;
    gap: 10px;

    i {
      padding: 0 2px;
    }
  }
}

.pagination1 {
  display: -moz-inline-box;
}