@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  box-sizing: border-box;
}
main {
  background-color: #F5F5F5;
  height: 600px;
  width: 600px;
  max-width: 800px;
  border-radius: 17px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.scoreboard {
  display: flex;
  padding: 15px;
  font-size: 20px;
}

.scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}

.left {
  margin-left: 15rem;
}

.title {
  font-family: 'Julee', cursive;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 1rem;
  transform: rotateZ(-10deg);
}

.instructions {
  margin: 10px;
  font-weight: 400;
  font-size: 20px;
  width: 300px;
  word-wrap: normal;
  text-align: center;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.die-face {
  height: 80px;
  width: 80px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.die-num {
  font-size: 2rem;
}

.roll-dice {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}

.roll-dice:focus {
  outline: none;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.dice {  
  padding: 6px;
  background-color: white;  
  width: 80px;  
  height: 80px;  
  border-radius: 10%;
}

.dot {
 display: block;
 width: 20px;
 height: 20px;
 border-radius: 50%;
}

.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face{
  display: flex;
  justify-content : space-between;
}

.second-face .dot:nth-of-type(2) {
  align-self: flex-end;
}


.third-face{
  display: flex;
  justify-content : space-between;
}

.third-face .dot:nth-of-type(2) {
  align-self :center;
}

.third-face .dot:nth-of-type(3) {
  align-self: flex-end;
}

.fourth-face {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.fifth-face {
  display: flex;
  justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
  justify-content: center;
}

.timer {
  background-color: #F5F5F5;
  width: 150px;
  height: 70px;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  border-radius: 17px;
  font-weight: 500;
  font-family: 'Julee', sans-serif;
}



.bestTime {
  top: 15%;
  left: 32%;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.best--name {
  color: #fff;
  background-color: #5035FF;
  padding: 4px;
}

.best--time {
  font-family: 'Julee', sans-serif;
  font-size: 20px;
}