.customTable tr td:first-child {
  font-weight: 700;
}
.customTable tr th {
  padding: 8px 0;
}
.customTable thead th {
  background-color: #2e3647 !important;
  color: white !important;
  padding-right: 0 !important;
}
.customTable a {
  color: black;
}
.customTable tr td {
  padding: 15px 0;
}
.customTable tr td:last-child {
  position: relative;
}
.customTable tr td:last-child div {
  position: absolute;
  right: 40%;
  top: 10%;
}
.createClass {
  padding-left: 40px;
  padding-bottom: 20px;
  border-bottom: 3px solid #ebebeb;
}
.containerClass {
  border-bottom: 2px solid black;
  margin-bottom: 5px;
}
.containerClass input {
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
  padding: 5px 10px;
}
.containerClass button {
  background: #384252;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: 10px;
}
.trainingContent {
  padding: 20px 0;
}
.contentBody {
  display: flex;
}
.contentBody > div {
  padding: 15px 20px;
  box-shadow: 5px 5px 20px #6d7684;
}
.contentRight {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btn {
  padding: 2px;
  width: 150px;
}
.btn:hover {
  color: #ced3db;
}
.btnContainer {
  display: flex;
  justify-content: end;
  margin: 20px 0;
}
.btnContainer button {
  font-weight: 500;
  margin-left: 20px;
  background-color: #474747;
  padding: 2px 10px;
  color: white;
  border-radius: 10px;
}
.formAll {
  background: #2e3647;
  color: white !important;
  border-radius: 10px !important;
  padding: 5px 15px !important;
  display: flex !important;
}
.formOpen {
  box-shadow: 0 3px 0 3px #e6e6e6;
  border-radius: 10px;
  margin-top: 3px;
  padding: 10px;
}
.closed {
  background: #8b8b8b;
}
.menu {
  padding: 0 !important;
  box-shadow: 2px 2px 6px 0 #c5c5c5;
  width: 150px;
}
.menu li {
  width: 150px;
  text-align: center;
}
.menuItem:hover {
  background-color: red;
}
.dropdown {
  position: relative;
}
.menu {
  position: absolute;
  z-index: 999;
}
.trainingHeader {
  padding-bottom: 20px;
  border-bottom: 3px solid black;
  display: flex;
}
.trainingHeader p {
  background-color: #6d7684;
  border-radius: 10px;
  height: 28px;
  margin: 20px 20px 0 40px;
  padding: 2px 10px;
}
.trainingContent {
  margin-top: 6px;
}
.trainingBody {
  display: flex;
  height: 100px;
  box-shadow: rgb(203, 203, 203) 2px 2px 2px 3px;
  border-radius: 20px;
  margin-top: 20px;
}
.upload {
  background-color: #2e3647;
  color: white;
  padding: 10px 30px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.contentTrain {
  padding-left: 30px;
  margin: auto 0;
}
.btnCheck {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  border-radius: 1rem;
  cursor: pointer;
}
.btnCheckFirst {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c5c5c5;
  border-radius: 1rem;
  cursor: pointer;
}
.btnCheck svg {
  color: white;
}
.btnAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e3647;
  padding: 0 10px;
  color: white;
  border-radius: 15px;
  height: 35px;
}
.btnAdd p {
  margin-left: 10px;
  padding-top: 15px;
}
.trainingAction {
  display: flex;
  margin-top: 20px;
}
.searchTraining input {
  width: 300px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px 4px #0000;
  padding: 5px 0 5px 12px;
}
.headerTraining {
  background-color: #2d3748;
  color: white;
  padding: 20px 50px;
}
.headerTraining div:nth-child(2) {
  display: flex;
}
.headerTraining p {
  margin: 8px 0 0 25px;
  padding: 0px 10px;
  background-color: #2d3748;
  color: white;
  border-radius: 20px;
  border: 2px solid white;
  height: 30px;
}
.trainingFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.btnBack,
.btnSave {
  background-color: #2e3647;
  color: white;
  border-radius: 12px;
  padding: 2px 20px;
}
.btnCancel {
  margin-right: 15px;
  color: red;
  text-decoration: underline;
  background-color: #fff;
}
.classTime {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.classTime:first-child {
  margin-bottom: 5px;
}
.selectInput {
  border-radius: 2px;
  box-shadow: 1px 2px 2px #e8e8e8;
  background-color: #ffff;
  padding: 2px;
}
.selectAttendee {
  border-radius: 10px;
  background-color: #ffff;
  padding: 0px 10px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.selectAttendee svg {
  padding-top: 3px;
}
.generalRight {
  margin-left: 0px;
}
.generalHeader input {
  box-shadow: inset 0px 0px 2px 1px #474747;
  width: 98.5%;
  padding-left: 7px;
  margin-left: 2px;
}
.classTime label {
  margin-right: 4px;
}
.className {
  margin-bottom: 5px;
}
.className label {
  color: black;
  margin-right: 5px;
}
.timePicker {
  width: 55%;
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
}
.dropdownGeneral {
  display: flex;
  justify-content: space-between;
}
.dropdownGeneral > div {
  padding-left: 10px;
}
.showCourse {
  background-color: #e6e6e6;
  color: black;
  border-radius: 10px;
  padding: 0;
}
.showCourse li {
  cursor: pointer;
  width: 100%;
  padding-left: 10px;
}
.showCourse li:hover {
  background-color: #6d7684;
  width: 100%;
  height: 24px;
}
.header_content {
  background-color: #2e3647;
  color: white;
  padding: 10px 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.footer_content {
  padding: 20px;
  background-color: #2e3647;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.headerInfoTraining {
  margin-top: 30px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 20px;
  border-bottom: 2px solid #959595;
}
.button.closeButton {
  font-weight: bold;
  color: cyan;
  justify-items: left;
}
.custom-select {
  color: black;
}
